
.content {
  width: 100%;
  position: absolute;;
  overflow: hidden;
  display: none;

}
.wrapper {
  width: 100%;
  padding: 8px 10px 10px 10px;
}
.scroll {
  height:100%;
  padding-top: 92px;
}
body
{
  margin: 0px;
  padding: 0px;
}
.chartContainer {
  width: 100%;
  min-height: 210px;
}
.chartContainer_Lanscaped {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: white;
  margin-top: -92px;
}
