/* Empty. Add your own CSS if you like */
/* Empty. Add your own CSS if you like */
/* Utilities */

.link {
    color: #116262;
    font-weight: bold;
}

h4 {
    color: #116262;
    font-size: 22px;
    margin-bottom: 16px;
}

h4:first-child {
    border-top: none;
    padding-top: initial;
}

.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
}

.no-border {
    border: none;
}

.static {
    position: static;
}

.bold {
    font-weight: bold;
}

.border-top {
    border-top: solid 1px #ccc;
    padding-top: 30px;
}

.blue-grey-900 {
    background-color: #263238 !important;
    color: #fff;
}
/* Menu */

.menu .bar.bar-header.expanded {
    background-image: url('../img/material-graphite.jpg');
    background-size: 120%;
    background-position: 0%;
    transition: all .5s ease-in-out;
}

.menu.menu-left * {
    font-weight: bold;
}

.item-radio input:checked ~ .item-content {
    background: transparent;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}

.item.item-radio .radio-icon {
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.item.item-radio:active .radio-icon {
    opacity: 0;
    transform: scale(1.6);
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.directions.button-bar {
    margin: 0 auto;
    width: 33.333%;
}

.directions.button-bar button {
    line-height: 26px;
}

.ion-arrow-right-c.top-left:before {
    transform: rotate(-135deg);
}

.ion-arrow-right-c.top-right:before {
    transform: rotate(-45deg);
}

.ion-arrow-right-c.bottom-left:before {
    transform: rotate(-225deg);
}

.ion-arrow-right-c.bottom-right:before {
    transform: rotate(45deg);
}

#modal {
    background-color: #ef4e3a;
    border-radius: 100%;
    box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.2);
    position: fixed;
    height: 50%;
    bottom: 0;
    opacity: 0;
    width: 700px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.expand #modal {
    background-color: #DBDBDB;
    border-radius: 0;
    border-top: solid 4px #ef4e3a;
    opacity: 1;
    z-index: 9;
}
/* CODE */

.code {
    color: #333;
    font-family: monospace;
    padding: 10px;
    white-space: pre;
}

.code-wrapper {
    padding-bottom: 30px;
    padding-top: 15px;
}

.code-wrapper::before {
    color: #1B5E20;
    font-family: "Ionicons";
    speak: none;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: '\f216 ';
}

.code-wrapper.active::before {
    content: '\f207 ';
}

.code-wrapper .toggle {
    color: #4CAF50;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 8px;
    text-decoration: underline;
}

.code-wrapper .code {
    opacity: 0;
    margin-top: -20px;
    height: 0;
    overflow: hidden;
    position: absolute;
    transition: 0.1s all ease-in-out;
    z-index: 9999999999;
}

.code-wrapper.code-wrapper-last .code {
    position: relative;
}

.code-wrapper.active .code {
    background: #f9f9f9;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    left: 16px;
    height: initial;
    margin-top: 15px;
    padding: 15px;
    right: 16px;
    opacity: 1;
    transition: 0.3s all ease-in-out;
    width: initial;
}

.popover {
    left: initial !important;
    right: 16px !important;
    top: 16px !important;
}
.platform-android .popover{
margin-top:10px;
}
.page {
  width:100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  display: inline-block;
}
.absolute-div {
  position: absolute;
}
.pink-bg {
  background-color: #E91E63;
  color: #FCE4EC
}
.page-title-define-by-me {
  font-size: 28px;
  font-family: 'Montserrat Alternates', sans-serif;
  margin-left: 5vw;
  margin-right: 5vw;
  width: 90vw;
  height: 32px;
  line-height: 32px;
  font-weight: 200;
  display: inline-block;
  float: left;
  text-align: center;
}
.shadow-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

.subtimeline button:active {
  background-color: rgba(255,127,0,0.8);
  color: #FFF8E1;
}
.shadow-2-top {
  box-shadow: 0 -2px 6px rgba(0,0,0,0.16), 0 -2px 6px rgba(0,0,0,0.23);
}
.shadow-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.shadow-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.shadow-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.shadow-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.60), 0 15px 12px rgba(0,0,0,0.22);
}
.primary-text-color {
  color: rgb(243,248,254);
}
.primary-text-color-bg {
  background-color: rgb(243,248,254);
}
.primary-border-color {
  border: 2px solid rgb(243,248,254);
}
.my-custom-popup{
  .popup {
    width: 80vw;
  }
}
.secondary-text-color {
  color: rgb(164,198,245);
}
.app-body-bg {
  background-color: rgb(0, 122, 235);
}
.app-body-bg-gradient {
    /* IE10+ */
  background-image: -ms-linear-gradient(top, #33B6FB 0%, #45C0EB 50%, #50C7E1 75%, #59CCDA 100%);

  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, #33B6FB 0%, #45C0EB 50%, #50C7E1 75%, #59CCDA 100%);

  /* Opera */
  background-image: -o-linear-gradient(top, #33B6FB 0%, #45C0EB 50%, #50C7E1 75%, #59CCDA 100%);

  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #33B6FB), color-stop(50, #45C0EB), color-stop(75, #50C7E1), color-stop(100, #59CCDA));

  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #33B6FB 0%, #45C0EB 50%, #50C7E1 75%, #59CCDA 100%);

  /* W3C Markup */
  background-image: linear-gradient(to bottom, #33B6FB 0%, #45C0EB 50%, #50C7E1 75%, #59CCDA 100%);
}
.bottom-btn-defined-by-me {
  position: absolute;
  top: calc(100vh - 70px);
  right: 20px;
}
.basic-div {
  display: inline-block;
  float: left;
  position: relative;
}
.div-chua-img-title {
  width: 100px;
  height: 100px;
  margin-left: calc(50vw - 50px);
  margin-right: auto;
  margin-bottom: 6px;
  border-radius: 100%;
  margin-top: 10px;
}
.img-title {
  width: 90px;
  height: 90px;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 100%;
}
.normal-text {
  font-family:Montserrat;float:left;display:inline-block;
}
.xanh-duong-color {
  color:#4ECDC4;
}
.red-color {
  color: #FF6B6B;

}
.vang-color {
  color: #C7F464;
}
